
{% if object_list[0] != 'DoesntExist' and object_list[0] != 0  and object_list[0] != 'default' %}
  <div class="row">
    <div class="col-xl-6">
        <div class="col">
          <div class="card">
            <div class="card-header bg-transparent border-0">
              <div class="row align-items-center">
                <div class="col ">
                  <h3 class="mb-0" style="text-align:center">Gateway</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-light table-flush" >
                <tbody>
                  <tr>
                      <th>Bridge-Domain</th>
                      <td scope="row" style="text-align:right">{{ object_list[0] }}</td>
                  </tr>
                  <tr>
                      <th>Unicast Enabled</th>
                      <td scope="row" style="text-align:right">{{ object_list[1] }}</td>
                  </tr>
                  <tr>
                      <th>Routing Scope</th>
                      <td scope="row" style="text-align:right">{{ object_list[2] }}</td>
                  </tr>
                  <tr>
                      <th>Uknown Unicast</th>
                      <td scope="row" style="text-align:right">{{ object_list[3] }}</td>
                    </tr>
                  <tr>
                      <th>Tenant</th>
                      <td scope="row" style="text-align:right">{{ object_list[4] }}</td>
                  </tr>
              </table>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="col">
        <div class="card">
          <div class="card-header bg-transparent border-0">
            <div class="row align-items-center">
              <div class="col ">
                <h3 class="tmb-0" style="text-align:center">Gateway Cont.</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-light table-flush">
              <tbody>
                <tr>
                    <th>Ap(s)</th>
                    <td scope="row" style="text-align:right">{{ object_list[5] }}</td>
                </tr>
                <tr>
                    <th>EPG(s)</th>
                    <td scope="row" style="text-align:right">{{ object_list[6] }}</td>
                </tr>
                <tr>
                    <th>L3out(s)</th>
                    <td scope="row" style="text-align:right">{{ object_list[7] }}</td>
                </tr>
                <tr>
                    <th>VRF</th>
                    <td scope="row" style="text-align:right">{{ object_list[8] }}</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% elif object_list[0] == 0 %}
 <div class="col-xl-12" align="center">
   <div class="col">
     <br/>
     <h4 ></h4>
   </div>
 </div>
{% else%}
 <div class="col-xl-12" align="center">
   <div class="col">
     <br/>
     <h4 >Subnet Doesn't Exist</h4>
   </div>
 </div>
{% endif %}
