{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('#inputVlan').keyup(function(){
     var vlan = $('#inputVlan').val();

     $.ajax({
      url: '/submit_encap',
      type: 'POST',
      data: {'encap': vlan},
      success: function(response){
       $('#response').html(response.data);
      },
     });
    });
  });
 </script>
{% endblock stylesheets %}

{% block content %}

<nav class="navbar navbar-expand-xl navbar-light bg-default fixed-top">
  <div class="container-fluid">
    <h1 class="navbar-brand mb-0 h1" ></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div  id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ url_for('base_blueprint.about') }}">About</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <br/>
  <br/>
  <br/>
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header bg-secondary border-0">
            <div class="row align-items-center">
              <div class="col"></div>
              <div class="col">
                <form class="form-signin" role="form" method="post" onsubmit="return false;">
                  <h2 class="form-signin-heading" style="text-align:center">Enter Encapsulation/Vlan</h2>
                  <input id="inputVlan" class="form-control" placeholder="Vlan">
                  <br/>
                </form>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div id='response'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


 {% endblock content %}

{% block javascripts %}

{% endblock javascripts %}