{% extends 'layouts/base.html' %}

{% block title %} Endpoint Lookup {% endblock title %}

{% block stylesheets %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

  $(document).ready(function(){
    $('#submitEP').submit(function(){
     $.ajax({
      url: '/submit_endpoint',
      type: 'POST',
      data: $('form').serialize(),
      success: function(response){
       $('#response').html(response.data);
      },
     });
     return false;
    });
  });

</script>

{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header bg-secondary border-0 ">
            <div class="row align-items-center">
              <div class="col"></div>
              <div class="col">
              <form role="form" method="post" id="submitEP">
                <h2 style="text-align:center">Enter MAC/IP</h2>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Endpoint" name="endpoint" >
                  <div class="input-group-append">
                    <button class="btn btn-secondary bg-primary text-white" id="submit">Submit</button>
                  </div>
                </div>
                <br/>
              </form>
              </div>
              <div class="col"></div>
            </div>
             <div class="row">
              <div class="col-xl-12">
                <div id='response'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



 {% endblock content %}

{% block javascripts %}

{% endblock javascripts %}