{% extends 'layouts/base.html' %}

{% block title %} Subnet Finder {% endblock title %}

{% block stylesheets %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

  $(document).ready(function(){
    $('#submitGateway').submit(function(){
     $.ajax({
      url: '/submit_subnet',
      type: 'POST',
      data: $('form').serialize(),
      success: function(response){
       $('#response').html(response.data);
      },
     });
     return false;
    });
  });

</script>

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card bg-default ">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col"></div>
                  <div class="col">
                    <h2 style="text-align:center">Available Gateways</h2>
                      <form role="form" method="post" id="submitGateway">
                        <div class="input-group-prepend">
                            <select class="custom-select" name="gateway">
                                <option selected>Choose...</option>
                                 {% for i in gateways %}
                                   <option value="{{i}}">{{ i }}</option>
                                 {% endfor %}
                            </select>
                            <div class="input-group-append">
                             <button class="btn btn-secondary bg-primary text-white" type="submit">Submit</button>
                            </div>
                        </div>
                      </form>
                  </div>
              <div class="col"></div>
            </div>
            <br/>
            <br/>
            <div class="row">
              <div class="col-xl-12">
                <div id='response'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


 {% endblock content %}

{% block javascripts %}

{% endblock javascripts %}